body {
  font-family: Arial;
  background: #f0f2f5;
}

.container {
  display: flex;
  height: 90vh;
}

.send-panel {
  width: 30%;
  padding: 20px;
  background: white;
}

.send-panel input, select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.send-panel button {
  padding: 10px;
  width: 100%;
  background: #25d366;
  color: white;
  border: none;
}

.chat-panel {
  width: 70%;
  padding: 20px;
  background: #e5ddd5;
}

#chat {
  background: white;
  height: 80%;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  margin-bottom: 10px;
  padding: 8px;
  background: #dcf8c6;
  width: fit-content;
}
